.container {
    display: flex;
    flex-wrap: wrap;
    width: 148px;
    justify-content: center;
}

.container div {
    height: 35px;
    width: 35px;
    border: 1px solid grey;
}

.hover {
    background-color: rgb(172, 172, 172);
}